
logo {
  margin-top: 10%;
}

h1 {
  text-align:center;
}

h2 {
  text-align:center;
}

h3 {
  text-align:center;
}

img {
  border-radius: 8px;
}


  .flex-container {
    display: flex;
    /*background-color: rgb(255, 255, 255);*/
    /*position: relative*/
  }

  .flex-container > div {
    /*background-color: #f1f1f1;*/
    background-color:powderblue;
    margin: 2px;
    /*margin-top: 12px;
    height: 10px;*/
    padding: 25px;
    /*font-size: 16px;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
   }

  /* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

  @media screen and (min-width: 800px) {
    .flex-container2 {
      flex-direction: column;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    } 

  /*@media (max-width: 400px) {
    .flex-container2 {
      flex-direction: column;
    }
  }*/

  div.gallery {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 600px;      /*180px;*/
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  div.flex-container {
    text-align: center;
  }

  video {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }



  .grid-container-main {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto 33% ;
    /*background-color: #2196F3;*/
    padding: 0px;
    margin-top: 3%;
  }
  .grid-item-main {
    /*background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    /*font-size: 12px;*/
    text-align: center;
    /*margin-top: 15%;*/
  }
  


  .grid-container-blog {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /*background-color: #2196F3;*/
    padding: 10px;
  }
  .grid-item-blog {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 12px;
    /*font-size: 30px;*/
    text-align: center;
  }
  



.grid-container-propuesta {
    display: grid;
    grid-template-columns: 30% auto;
    /*background-color: #2196F3;*/
    padding: 10px;
  }

  .grid-item-propuesta {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 10px;
    /*font-size: 30px;*/
    text-align: center;
  }



  .grid-container-footer {
    display: grid;
    grid-template-columns: 7% 7% 7% 7% 15% 15% 15% 15%;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-item-footer {
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 0px;
    font-stretch: semi-condensed;
    font-style: italic;
    font-size: 10px;
    text-align: center;
  }



  div.grid-item-blog {
    width: 90%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*margin-bottom: 25px;*/
  }

  div.grid-item-propuesta {
    width: 95%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*margin-bottom: 25px;*/
  }

  